<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadan.splitup">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shadan.splitup.MainActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="filter_view_example">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.splitup.com” -->
                <data android:scheme="https"
                    android:host="www.splitup.com" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
        <activity android:name="com.shadan.splitup.AddEditMemberActivity"/>
        <activity android:name="com.shadan.splitup.AddEditBillActivity"/>
        <activity android:name="com.shadan.splitup.HandleOnGroupClickActivity" />
        <activity android:name="com.shadan.splitup.GroupListActivity" />
        <activity android:name="com.shadan.splitup.CreateNewGroupActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>